/* FONT FAMILY LINK  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./images/bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 82%;
    height: 100%;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.form {
    width: 400px;
}

.form h3 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.8px;
    font-weight: 500;
    margin-bottom: 30px;
}

.form h5 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 500;
    margin-bottom: 20px;
}

.form .input {
    margin-bottom: 25px;
}

.form .input input {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: .4s ease-in-out;
}

.form .input input:hover {
    background: transparent;
    border: 1px solid #fff;
}

.form .input input::placeholder {
    color: #fff;
}

.form .password {
    position: relative;
}

.form .password .password-show-hide {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.form .password .password-show-hide i {
    font-size: 20px;
    color: #fff;
}

.form .input .btn {
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
}

.form .form-info {
    display: flex;
    justify-content: space-between;
}

.form .form-info .remember {
    display: flex;
    gap: 10px;
}

.form .form-info .remember input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form .form-info .remember label {
    font-size: 16px;
    letter-spacing: 0.7px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.form .form-info a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    letter-spacing: 0.7px;
}

.form .sign-with {
    margin: 30px 0;
}

.form .sign-with p {
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
}

.form .sign-with p::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 30px;
    background-color: #fff;
    left: 23%;
    top: 50%;
}

.form .sign-with p::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 30px;
    background-color: #fff;
    right: 23%;
    top: 50%;
}

.form .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form .buttons button {
    font-size: 18px;
    width: 45%;
    height: 45px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all .5s ease-in-out;
}

.form .buttons button:hover {
    background: transparent;
    border: 1px solid #fff;
}